<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>

<body>
    <footer>
        <br><br><br>

        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <a href="#"><b> Amazon Music</b></a>
                    <p> Stream millions <br>
                        of songs</p>
                </div>
                <div class="col">
                    <a href="#"><b> Amazon<br> Advertising</b></a><br>
                    <p> Find ,attract , and<br>engage<br>customers</p>

                </div>
                <div class="col">
                    <a href="#"><b> 6Pm </b></a><br>
                    <p>Score deals<br> on fashion brands </p>
                </div>
                <div class="col">
                    <a href="#"><b> AbeBook</b></a><br>
                    <p>Books, art<br> & collection </p>
                </div>
                <div class="col">
                    <a href="#"><b> ACX</b></a><br>
                    <p>Audiobook Publishing<br> Made Easy </p>
                </div>
                <div class="col">
                    <a href="#"><b> Sell on Amazon</b></a><br>
                    <p>Start a Selling<br> Account </p>
                </div>
                <div class="col">
                    <a href="#"><b> Amazon Business</b></a><br>
                    <p>Everything For<br> Your Business </p>
                </div>

            </div>
            <!-----------------------------------------------------2nd row-->
            <div class="row">
                <div class="col">
                    <a href="#"><b> Amp</b></a>
                    <p> Host your own <br>
                        live radio show <br>
                        with <br>
                        music you love</p>
                </div>
                <div class="col">
                    <a href="#"><b> AmazonGlobal </b></a><br>
                    <p> Ship Orders<br> Internationally</p>
                </div>
                <div class="col">
                    <a href="#"><b>Home Services</b></a><br>
                    <p>Experiences Pros<br> Happiness<br>Guarantee </p>
                </div>
                <div class="col">
                    <a href="#"><b> Amazon Web <br> Services</b></a><br>
                    <p> Scalable Cloud<br> Computing<br> Services </p>
                </div>
                <div class="col">
                    <a href="#"><b> Audible</b></a><br>
                    <p>Listen to Books &<br> Original<br>Audio Performances </p>
                </div>
                <div class="col">
                    <a href="#"><b> Box Office Mojo</b></a><br>
                    <p>Find Movie<br> Box Office Data </p>
                </div>
                <div class="col">
                    <a href="#"><b> Goodreads</b></a><br>
                    <p>Books reviews<br> &<br> recommendation </p>
                </div>

            </div>
            <!-----------------------------------3rd row-->
            <div class="row">
                <div class="col">
                    <a href="#"><b> IMDb</b></a>
                    <p>Movies , TV<br>
                        & Celebrities</p>
                </div>
                <div class="col">
                    <a href="#"><b> IMDbPro </b></a><br>
                    <p> Get Info<br> Entertainment <br>Professional<br> Needs </p>

                </div>
                <div class="col">
                    <a href="#"><b> Kindle Direct <br>Publishing </b></a><br>
                    <p>Indie Digital &<br> Print Publishing <br> Made Easy </p>
                </div>
                <div class="col">
                    <a href="#"><b> Prime Video <br>Direct</b></a><br>
                    <p>Video<br> Distribution<br> Made Easy </p>
                </div>
                <div class="col">
                    <a href="#"><b>Shopbop</b></a><br>
                    <p>Desiger<br> Fashion Brands </p>
                </div>
                <div class="col">
                    <a href="#"><b> Woot!</b></a><br>
                    <p>Deals and<br> Shenanigans </p>
                </div>
                <div class="col">
                    <a href="#"><b> Goodreads</b></a><br>
                    <p>Books reviews<br> &<br> recommendation </p>

                </div>

            </div>
            <!---------------------------------4th row ------------------------------->
            <div class="row">
                <div class="col">
                    <a href="#"><b> Ring</b></a>
                    <p> Smart Home<br>
                        Security System</p>
                </div>
                <div class="col">
                    <a href="#"><b> eero WiFi </b></a><br>
                    <p> Stream 4K Video <br>in Every Room </p>
                </div>
                <div class="col">
                    <a href="#"><b> Blink </b></a><br>
                    <p>Smart Security<br> for Every Home </p>


                </div>
                <div class="col">
                    <a href="#"><b> Neighbours App</b></a><br>
                    <p>Real-Time<br> Crime<br>& Safty Alerts </p>
                </div>
                <div class="col">
                    <a href="#"><b> Amazon Subscription<br>Boxes</b></a><br>
                    <p>Top subscription boxes -right to your door </p>
                </div>
                <div class="col">
                    <a href="#"><b> PillPack</b></a><br>
                    <p>Pharmacy<br> Simplified</p>

                </div>
                <div class="col">
                </div>

            </div>



        </div>

        <div class="text">
            <ul>
                <li>
                    Conditions of Use
                </li>
                <li> Privacy Notice</li>
                <li> Your Ads Privacy Choices</li>
            </ul>
            <p>© 1996-2023, Amazon.com, Inc. or its affiliates
            </p>
        </div>
    </footer>

</body>

</html>